<ul class="projects">
    {%- for project in params.projects -%}
        <li>
            <a
                class="project-item"
                href="{{ project.url }}"
                title="{{ project.data.title }}"
            >
                <div class="project-item-info">
                    <img
                        class="project-item-info-logo"
                        src="/projects/{{ project.data.projectId }}.svg"
                        alt="{{ project.data.title }}"
                        width="48px"
                        height="48px"
                    >
                    <div class="project-item-info-name">
                        <h3>{{ project.data.title }}</h3>
                        <time datetime="{{ project.data.date |
            formatDate("YYYY-MM-DD") }}">{{ project.data.date | formatDate("YYYY/MM") }}</time>
                    </div>
                </div>
                <div class="project-item-description">
                    <p>{{ project.data.description }}</p>
                </div>
                <ul class="project-item-stacks">
                    {%- for stack in project.data.stacks -%}
                        <li>
                            <span class="stack-item">
                                {{ stack }}
                            </span>
                        </li>
                    {%- endfor -%}
                </ul>
            </a>
        </li>
    {%- endfor -%}
</ul>
