<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">

    <!-- stylesheet -->
    <link rel="stylesheet" href="/style.css?v={% etag %}"/>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div id="container">
        <header>
            <div id="profile">
                <img src="/pyk.png" />
                <span>pyk</span>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/" {% if page.url == "/" %} aria-current="page" {% endif %}>
                            index
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/pyk" target="_blank">
                            github
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/sepyke" target="_blank">
                            twitter
                        </a>
                    </li>
                    <li>
                        <a href="mailto:gm@pyk.sh">
                            gm@pyk.sh
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        {{ content | safe }}

    </div>

    <footer>
		Copyright &copy; 2022 <a href="/">pyk</a>. All rights reserved.
    </footer>
</body>

</html>
