---
layout: base.njk
type: "article"
---

<article>
    <h2>{{ title }}</h2>
    <time datetime="{{ date | formatDate("YYYY-MM-DD") }}">{{ date | formatDate("ddd MMM D YYYY") }}</time>

    {{ content | safe }}

    <p>
        <hr />
    </p>

    <p>
        Questions or comments? <a href="mailto:gm@pyk.sh">Email me</a> or
        <a href="https://twitter.com/sepyke">tweet at @sepyke</a>.
    </p>

</article>

