<!doctype html>
<html lang="en">

<head>
    <!-- HTML meta tags -->
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="robots" content="follow, index">

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sepyke">
    <meta name="twitter:creator" content="@sepyke">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="https://pyk.sh/opengraph.png">
    <meta name="twitter:image:alt" content="Profile picture of pyk">
    <meta property="twitter:domain" content="pyk.sh">
    <meta property="twitter:url" content="https://pyk.sh{{ page.url }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="pyk">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://pyk.sh{{ page.url }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://pyk.sh/opengraph.png">
    <meta property="og:image:secure_url" content="https://pyk.sh/opengraph.png">
    <meta property="og:image:width" content="399">
    <meta property="og:image:height" content="399">
    <meta property="og:image:type" content="image/png">
    {% if type == "article" %}
        <meta property="og:type" content="article">
        <meta property="article:published_time" content="{{ date | formatDate("YYYY-MM-DD")}}">
        <meta property="article:author" content="pyk">
    {% else %}
        <meta property="og:type" content="website">
    {% endif %}

    <!-- Linkedin -->
    <meta name="author" content="pyk">

    <!-- SEO Stuff -->
    <link rel="canonical" href="https://pyk.sh{{ page.url }}" />

    <link rel="icon" href="/favicon.ico" sizes="any">

    <!-- stylesheet -->
    <link rel="stylesheet" href="/style.css?v={% etag %}"/>
</head>

<body>
    <!-- START NAVIGATION -->
    <nav>
        <ul>
            <li>
                <a href="/" {% if page.url == "/" %} aria-current="page" {% endif %}>
                    Home
                </a>
            </li>
            <li>
                <a href="/projects/" {% if page.url == "/projects/" %} aria-current="page" {% endif %}>
                    Projects
                </a>
            </li>
            <li>
                <a href="/tutorials/" {% if page.url == "/tutorials/" %} aria-current="page" {% endif %}>
                    Tutorials
                </a>
            </li>
            <li>
                <a href="/faq/" {% if page.url == "/faq/" %} aria-current="page" {% endif %}>
                    Dev FAQ
                </a>
            </li>
        </ul>
    </nav>
    <!-- END NAVIGATION -->

    <!-- START HEADER -->
    <header>
        <ol
            id="breadcrumb"
            itemscope
            itemtype="https://schema.org/BreadcrumbList"
        >
            {%- for breadcrumb in breadcrumbs -%}
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ breadcrumb.path }}">
                        <span itemprop="name">{{ breadcrumb.name }}</span>
                    </a>
                    <meta itemprop="position" content="{{ breadcrumb.position }}" />
                </li>
                <li>
                    &#10095;
                </li>
            {%- endfor -%}
            {%- if page.url != "/" -%}
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span itemprop="name">{{ title }}</span>
                    <meta itemprop="position" content="{{ breadcrumbs | length + 1}}" />
                </li>
            {%- endif -%}
        </ol>
        <div id="header-info">
            {%- if header.image -%}
                <img
                    id="header-info-image"
                    src="{{ header.image }}"
                    alt="{{ title }}"
                    width="64px"
                    height="64px"
                >
            {%- endif -%}
            <div id="header-info-content" class="grow">
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>
            </div>
            {%- if header.showURL -%}
                <a class="button blue" href="#">Show project</a>
            {%- endif -%}
        </div>

    </header>
    <!-- END HEADER -->

    {{ content | safe }}

    <footer>
        <nav>
            <ul>
                <li>
                    <p>
                        Copyright &copy; 2022 <a href="/">pyk</a>. All rights reserved.
                    </p>
                </li>
                <li>
                    <a href="https://twitter.com/sepyke" target="_blank">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://github.com/pyk" target="_blank">
                        Github
                    </a>
                </li>
                <li>
                    <a href="mailto:gm@pyk.sh">
                        Email
                    </a>
                </li>
            </ul>
        </nav>

    </footer>
</body>

</html>
