---
layout: base.njk
title: pyk
description: Co-founder of Risedle
header:
    image: "/opengraph.png"
    description: Co-founder of Risedle
---

{%- from "components/project-item/macro.njk" import projectItem -%}
{%- from "components/posts/macro.njk" import posts -%}

<main>
        <section id="about">
            <p>
                Helping Web3 investors access decentralized finance and gains
                a sustainable returns. Writing about web & smart contract
                development.
            </p>
        </section>

        <section id="project-section">
            <h2>Featured projects</h2>
            <ul class="projects">
                {%- for project in collections.project -%}
                    <li>
                        {{
                            projectItem({
                                url: project.url,
                                projectId: project.data.projectId,
                                title: project.data.title,
                                date: project.data.date,
                                description: project.data.description,
                                stacks: project.data.stacks
                            })
                        }}
                    </li>
                {%- endfor -%}
            </ul>
            <a href="/projects" title="Show all projects">Show all projects &#10142;</a>
        </section>

        <section id="latest-post-section">
            <h2>Latest tutorials</h2>
            {{
                posts({
                    posts: collections.tutorial | reverse
                })
            }}
            <a href="/tutorials" title="Show all tutorials">Show all tutorials &#10142;</a>
        </section>
</main>
