---
layout: base.njk
type: page
title: pyk
description: Co-founder of Risedle
---

{%- from "components/posts/macro.njk" import posts -%}
{%- from "components/projects/macro.njk" import projects -%}
{%- set latestTutorials = collections.latestTutorials -%}

<header id="header-home">
    <img
        src="/opengraph.png"
        alt="{{ title }}"
        width="64px"
        height="64px"
    >
    <div id="header-home-info">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
    </div>
</header>

<main>
        <section id="about">
            <p>
                Helping Web3 investors access decentralized finance and gains
                a sustainable returns. Writing about web & smart contract
                development.
            </p>
        </section>

        <section id="project-section">
            <h2>Featured projects</h2>
            {{
                projects({
                    projects: collections.project
                })
            }}
            <a
                class="link-bold"
                href="/projects"
                title="Show all projects"
            >
                Show all projects &#10142;
            </a>
        </section>

        <section id="latest-post-section">
            <h2>Latest tutorials</h2>
            {{
                posts({
                    posts: latestTutorials | limit(5)
                })
            }}
            <a
                class="link-bold"
                href="/tutorials"
                title="Show all tutorials"
            >
                Show all tutorials &#10142;
            </a>
        </section>
</main>
