---
layout: base.njk
type: page
title: pyk
description: Co-founder of Risedle
header:
    image: "/opengraph.png"
---

{%- from "components/posts/macro.njk" import posts -%}
{%- from "components/projects/macro.njk" import projects -%}
{%- set latestTutorials = collections.latestTutorials -%}

<main>
        <section id="about">
            <p>
                Helping Web3 investors access decentralized finance and gains
                a sustainable returns. Writing about web & smart contract
                development.
            </p>
        </section>

        <section id="project-section">
            <h2>Featured projects</h2>
            {{
                projects({
                    projects: collections.project
                })
            }}
            <a href="/projects" title="Show all projects">Show all projects &#10142;</a>
        </section>

        <section id="latest-post-section">
            <h2>Latest tutorials</h2>
            {{
                posts({
                    posts: latestTutorials | limit(5)
                })
            }}
            <a href="/tutorials" title="Show all tutorials">Show all tutorials &#10142;</a>
        </section>
</main>
