---
layout: base.njk
type: page
breadcrumbs:
    - name: Home
      position: 1
      path: "/"
header:
    description: List of projects
---

{%- from "components/projects/macro.njk" import projects -%}

<main>
    <section>
        <div>
            <h1 class="title">Featured projects</h2>
            <p class="subtitle">List of featured projects</p>
        </div>
        {{
            projects({
                projects: collections.project
            })
        }}
    </section>
    <section>
        <div>
            <h2 class="title">Latest experiments</h2>
            <p class="subtitle">List of featured projects</p>
        </div>
        {{
            projects({
                projects: collections.project
            })
        }}
    </section>
    <section>
        <div>
            <h2 class="title">Released projects</h2>
            <p class="subtitle">List of featured projects</p>
        </div>
        {{
            projects({
                projects: collections.project
            })
        }}
    </section>
</main>
