---
layout: base.njk
type: page
breadcrumbs:
    - name: Home
      position: 1
      path: "/"
header:
    description: List of projects
---

<main>
    <ul class="projects">
        {%- for project in collections.project -%}
            <li>
                <a class="project-item" href="{{ project.url }}">
                    <img
                        class="project-item-logo"
                        src="/projects/{{ project.data.projectId }}.svg"
                        alt="{{ project.data.title }}"
                        width="48px"
                        height="48px"
                    >
                    <div class="project-item-info">
                        <h3>{{ project.data.title }}</h3>
                        <time datetime="{{ post.date | formatDate("YYYY-MM-DD") }}">{{ post.date | formatDate("YYYY") }}</time>
                    </div>
                </a>
            </li>
        {%- endfor -%}
    </ul>
</main>
