---
layout: base.njk
permalink: "/projects/{{ title | slugify }}/"
eleventyComputed:
    meta:
      breadcrumbs:
        - name: Home
          url: https://pyk.sh/
          position: 1
        - name: All projects
          url: https://pyk.sh/projects/
          position: 2
        - name: "{{ title }}"
          url: https://pyk.sh{{ page.url }}
          position: 3
---
{%- from "components/posts/macro.njk" import posts -%}
{%- from "components/projects/macro.njk" import projects -%}

{%- set relatedProjects = collections.project | related | latest | reverse -%}
{%- set relatedTutorials = collections.tutorial | related | latest -%}
{%- set relatedQuestions = collections.faq | related | latest -%}

<header class="header-project">
    <img
        alt="{{ title }}"
        src="/projects/{{ projectId }}.svg"
        width="64px"
        height="64px"
     />
    <div class="header-project-meta">
        <h1 class="title">{{ title }}</h1>
        <p class="subtitle">{{ description }}</p>
    </div>
</header>

<nav>
    <ul>
        {%- for link in externalLinks -%}
        <li>
            <a
                href="{{ link.url }}"
                title="{{ link.name }}"
            >
                {{ link.name }} &#8599;
            </a>
        </li>
        {%- endfor -%}
    </ul>
</nav>

<main>
    {%- if relatedProjects | length -%}
        <section class="latest-post-section">
            <h2>Related projects</h2>
            {{
                projects({
                    projects: relatedProjects
                })
            }}
            <a
                class="link-bold"
                href="/projects/"
                title="Show all projects"
            >
                Show all projects &#10142;
            </a>
        </section>
    {%- endif -%}

    {%- if relatedTutorials | length -%}
        <section class="latest-post-section">
            <h2>Related tutorials</h2>
            {{
                posts({
                    posts: relatedTutorials
                })
            }}
            <a
                class="link-bold"
                href="/tutorials/"
                title="Show all tutorials"
            >
                Show all tutorials &#10142;
            </a>
        </section>
    {%- endif -%}

    {%- if relatedQuestions | length -%}
        <section class="latest-post-section">
            <h2>Related FAQ</h2>
            {{
                posts({
                    posts: relatedQuestions
                })
            }}
            <a
                class="link-bold"
                href="/questions/"
                title="Show all Frequently Asked Questions"
            >
                Show all FAQs &#10142;
            </a>
        </section>
    {%- endif -%}

</main>
