---
layout: base.njk
type: page
breadcrumbs:
    - name: Home
      position: 1
      path: "/"
---

{%- from "components/posts/macro.njk" import posts -%}
{%- set latestFAQs = collections.latestFAQs -%}

<main>
    <section id="latest-post-section">
        {{
            posts({
                posts: latestFAQs
            })
        }}
    </section>
</main>
