---
layout: base.njk
breadcrumbs:
    - name: Home
      path: "/"
      position: 1
    - name: Frequently Asked Questions
      path: "/questions/"
      position: 2
type: "post"
permalink: "/questions/{{ title | slugify }}/"
---

{%- from "components/posts/macro.njk" import posts -%}
{%- set relatedTutorials = collections.tutorial | related -%}
{%- set relatedQuestions = collections.faq | related -%}

<header class="header-post">
    <h1 class="title">{{ title }}</h1>
    <time
        class="subtitle"
        datetime="{{ post.data.publishedAt | formatDate("YYYY-MM-DD") }}"
    >
        {{ post.data.publishedAt | formatDate("ddd MMM D YYYY") }}
    </time>
</header>

<main>
    <article>
        {{ content | safe }}
    </article>

    {%- if relatedTutorials | length -%}
        <section class="latest-post-section">
            <h2>Related tutorials</h2>
            {{
                posts({
                    posts: relatedTutorials | reverse
                })
            }}
            <a
                class="link-bold"
                href="/tutorials/"
                title="Show all tutorials"
            >
                Show all tutorials &#10142;
            </a>
        </section>
    {%- endif -%}

    {%- if relatedQuestions | length -%}
        <section class="latest-post-section">
            <h2>Related FAQ</h2>
            {{
                posts({
                    posts: relatedQuestions | reverse
                })
            }}
            <a
                class="link-bold"
                href="/questions/"
                title="Show all Frequently Asked Questions"
            >
                Show all FAQs &#10142;
            </a>
        </section>
    {%- endif -%}

</main>
