---
layout: base.njk
breadcrumbs:
    - name: Home
      path: "/"
      position: 1
    - name: FAQ
      path: "/questions/"
      position: 2
type: "article"
permalink: "/questions/{{ title | slugify }}/"
---

<article>
    {{ content | safe }}
</article>

