---
layout: base.njk
breadcrumbs:
    - name: Home
      position: 1
      path: "/"
title: Tutorials
description: A list of tutorials about web and smart contract development
---

{%- from "components/posts/macro.njk" import posts -%}

<main>
    <section id="latest-post-section">
        {{
            posts({
                posts: collections.tutorial | reverse
            })
        }}
    </section>
</main>
