---
layout: base.njk
breadcrumbs:
    - name: Home
      path: "/"
      position: 1
    - name: Tutorials
      path: "/tutorials/"
      position: 2
type: "article"
permalink: "/tutorials/{{ title | slugify }}/"
---

<main>
    <article>
        {{ content | safe }}
    </article>

    <section id="contact">
        <p>
            Questions or comments? <a href="mailto:gm@pyk.sh">Email me</a> or
            <a href="https://twitter.com/sepyke">tweet at @sepyke</a>.
        </p>
    </section>
</main>
