<ul class="posts">
    {%- for post in params.posts -%}
        <li>
            <a
                class="post-item"
                href="{{ post.url }}"
                title="{{ post.data.title }}"
            >
                <time
                    class="post-item-time-simple"
                    datetime="{{ post.data.publishedAt | formatDate("YYYY-MM-DD") }}"
                >
                    {{ post.data.publishedAt | formatDate("YYYY/MM") }}
                </time>
                <h3>{{ post.data.title }}</h3>
                <time
                    class="post-item-time-full"
                    datetime="{{ post.data.publishedAt | formatDate("YYYY-MM-DD") }}"
                >
                    {{ post.data.publishedAt | formatDate("ddd MMM D YYYY") }}
                </time>
            </a>
        </li>
    {%- endfor -%}
</ul>
