<ul class="posts">
    {%- for post in params.posts -%}
        <li>
            <a
                class="post-item"
                href="{{ post.url }}"
                title="{{ post.data.title }}"
            >
                <span>
                    {{ post.data.date | formatDate("YYYY/MM") }}
                </span>
                <h3>{{ post.data.title }}</h3>
            </a>
        </li>
    {%- endfor -%}
</ul>
