<a
    class="project-item"
    href="{{ params.url }}"
    title="{{ params.title }}"
>
    <div class="project-item-info">
        <img
            class="project-item-info-logo"
            src="/projects/{{ params.projectId }}.svg"
            alt="{{ params.title }}"
            width="48px"
            height="48px"
        >
        <div class="project-item-info-name">
            <h3>{{ params.title }}</h3>
            <time datetime="{{ params.date |
formatDate("YYYY-MM-DD") }}">{{ params.date | formatDate("YYYY/MM") }}</time>
        </div>
    </div>
    <div class="project-item-description">
        <p>{{ params.description }}</p>
    </div>
    <ul class="project-item-stacks">
        {%- for stack in params.stacks -%}
            <li>
                <span class="stack-item">
                    {{ stack }}
                </span>
            </li>
        {%- endfor -%}
    </ul>
</a>
