---
layout: base.njk
---

<article>
    <h1>{{ title }}</h1>

    <ol class="list-decimal pl-4 space-y-2">
        {% for tag in collections.tags | sort %}
            {% set tagUrl %}/topics/{{ tag | slugify }}/{% endset %}
            <li>
                <a href="{{ tagUrl }}">
                    {{ tag }}
                </a>
                <span>
                    {% if collections[tag].length > 1 %}
                        ({{ collections[tag].length }} posts)
                    {% else %}
                        ({{ collections[tag].length }} post)
                    {% endif %}
                </span>
            </li>
        {% endfor %}
    </ol>

</article>
